@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  display: flex;
  min-width: 300px;
  min-height: 100%;
  flex-direction: column;
  background-color: #f7f7fc;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.blockchain {
  flex: 1 0 auto;
}

.blockchain__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
}

.blockchain__header {
  margin-bottom: 40px;
}

.header__title {
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 1px;
  font-weight: 400;
}

.header__status {
  padding: 24px;
  border-radius: 16px;
  background-color: #e4daff;
  color: #4e4b66;
  font-size: 24px;
  line-height: 36px;
}

.blockchain__body {
}

.blockchain__transactions {
}

.transactions {
}

.transactions__fields {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.transactions__fields-wrapper {
  display: flex;
  align-items: center;
  margin-right: 24px;
  width: 70%;
}

.blockchain-block {
  background: #fcfcfc;
  border-radius: 16px;
  box-shadow: 0px 20px 24px rgba(17, 17, 17, 0.06);
}

.blockchain-block:not(:last-child) {
  margin-bottom: 40px;
}

.blockchain-block__container {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.blockchain-block__title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 36px;
}

.blockchain-block__controls {
  display: flex;
  justify-content: end;
}

.amount-input {
  flex: 1;
}

.arrow-right {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0 19px;
  background-image: url('arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.input {
  width: 100%;
  padding: 16px 24px;
  border: none;
  border-radius: 16px;
  background-color: #eff0f7;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
}

.btn {
  padding: 18px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  background-color: #5f2eea;
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.blockchain__pending {
}

.pending {
}

.pending__notification {
  color: #a0a3bd;
  margin: 0;
  margin-bottom: 32px;
  padding: 16px 24px;
  background-color: #eff0f7;
  border-radius: 16px;
  font-size: 16px;
  line-height: 28px;
}

.hide {
  display: none;
}

.pending__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 32px;
}

.pending-item {
  font-size: 16px;
  line-height: 24px;
  padding: 16px 24px;
  background-color: #eff0f7;
  border-radius: 16px;
}

.pending-item:not(:last-child) {
  margin-bottom: 12px;
}

.state__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Стили для блоков */
.block {
  width: 48%;
  background-color: #eff0f7;
  color: #6e7191;
  border-radius: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.block__container {
  padding: 24px;
}

.block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.block__index {
  font-size: 32px;
  line-height: 34px;
  color: #000000;
}

.block__timestamp {
}

.block__hash {
  display: flex;
  margin-bottom: 24px;
}

.block__prev-hash {
  width: 50%;
  margin-right: 10px;
}

.hash-title {
  margin-bottom: 4px;
}

.hash-value {
  overflow: hidden;
  text-overflow: ellipsis;
}

.block__this-hash {
  width: 50%;
}

.block__transactions {
}

.block__transactions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Адаптив */
@media (max-width: 1024px) {
  .blockchain__container {
    padding: 0 24px;
  }

  .blockchain-block__container {
    padding: 24px;
  }
}

@media (max-width: 780px) {
  .transactions__fields-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }
}

@media (max-width: 480px) {
  .blockchain__header {
    margin-bottom: 32px;
  }

  .header__status {
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
  }

  .blockchain__container {
    padding: 0 16px;
  }

  .blockchain-block__container {
    padding: 16px;
  }

  .blockchain-block__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .header__title {
    font-size: 40px;
    line-height: 50px;
  }

  .btn {
    flex: 1;
    padding: 14px 32px;
    font-size: 16px;
    line-height: 20px;
  }

  .block {
    width: 100%;
  }
}

@media (max-width: 360px) {
  .arrow-right {
    background-size: 16px;
    padding: 0 8px;
  }
}

/* Состояния для кнопок */
@media (hover: hover) and (pointer: fine) {
  /* только для устройств с мышью */
  .btn:hover {
    background-color: #2a00a2;
  }
}

.btn:active {
  background: #160056;
}

.btn:disabled {
  background: #a0a3bd;
}

/* Состояния для инпутов */
.input:focus {
  background-color: #ffffff;
  outline: 2px solid #696eff;
}

/* .input:invalid:focus {
  background-color: #fff3f8;
  border: 2px solid #ed2e7e;
} */
